*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    min-height: 100vh;
}

ul{
    list-style: none;
}

/* custom style */
.container{
    min-height: 100vh;
    display: grid;
    grid-template-columns: minmax(250px, 500px) minmax(auto-fit, 1fr) minmax(min-content, auto);
    grid-template-rows: minmax(30px, 180px) 1fr;     
    background-color: rgb(243, 243, 243);
}

/* header */
.header{
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    display: grid;
    grid-template-rows: repeat(2, minmax(min-content, auto));
    background-color: white;

    padding: 0 25px
}

.top-h{
    display: grid;
    grid-template-columns: minmax(min-content, 1fr) auto;
}


.top-h-left{
    display: grid;
    grid-template-columns: minmax(min-content, auto) 1fr;
    align-items: center;
    gap: 12px;
}

.icon{
    width: 35px;
}

.text-input{
    height: 35px;
    max-width: 700px;
    border-radius: 30px;
    background-color: #e2e8f0;
    border: none;
    padding: 12px;
}

.top-h-right{
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    gap: 15px;
    justify-content: end;
}

.notif-icon{
    width: 40px;
}

.img-th{
    height: 50px;
    border-radius: 50%;
}

.username{
    font-size: 1.2rem;
    font-weight: bold;
    white-space: wrap;
}

.bottom-h{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.bottom-h-left{
    display: grid;
    grid-template-columns: min-content auto;
    align-items: center;
    gap: 12px;
}

.img-bh{
    height: 65px; 
    border-radius: 50%;
}

.greetings{
    display: grid;
    grid-template-rows: auto 1fr;
}

.greetings p:nth-child(1){
    font-size: 0.9rem;
}

.greetings p:last-child{
    font-size: 1.6rem;
    font-weight: bold;
}

.bottom-h-right{
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: end;
    gap: 25px;
}

.button-activity{
    width: 120px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(45, 157, 248);
    color: white;
    border: none;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: all 0.2s ease;
}

.button-activity:hover{
    background-color: rgb(35, 140, 235); /* Darker blue on hover */
    transform: translateY(-1px); /* Subtle lift effect */
    box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
}
/* sidebar */
.sidebar{
    background-color: rgb(45, 157, 248);
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    display: grid;
    grid-template-rows: 70px auto 1fr;
    color: white;
    padding: 10px 12px;
    gap: 40px;
    align-items: start;
}

.dashboard{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    font-size: 1.4rem;
    gap: 4px;
}

.dashboard-icon{
    width: 50px;
    filter: brightness(0) invert(1);
}

.dashboard-icon:hover{
    cursor: pointer;
}

.profile-sidebar{
    display: grid;
    padding: 0px 10px;
}

.profile-sidebar ul{
    display: grid;
    gap: 10px;
}

.home,
.profile,
.messages,
.history,
.tasks,
.community{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
}

.side-icon{
    width: 25px;
    filter: brightness(0) invert(1);
    align-items: center;
}

.utils{
    display: grid;
    padding: 0px 10px;
}

.utils ul{
    display: grid;
    gap: 10px;
}

.settings,
.supports,
.privacy{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    font-size: 1rem;
    gap: 10px;
}

/* .home:hover,
.profile:hover,
.messages:hover,
.history:hover,
.tasks:hover,
.community:hover,
.settings:hover,
.supports:hover,
.privacy:hover {
    cursor: pointer;
} */

li span:hover,
.side-icon:hover {
    cursor: pointer;
}

/* content */
.content{
    grid-column: 2 / 3;
    grid-row: 2 / -1;

    /* display changes */
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-template-rows: min-content 1fr;
    gap: 15px;
    
    /* custom style */
    padding: 25px 50px;
}

.content-title{
    grid-column: 1 / -1;
    font-size: 24px;
    font-weight: bold;
    color: black;
}

.content-card{
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    gap: 25px;
}

.card{
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: white;
    border-radius: 10px;
    min-width: 250px;
    max-height: 350px;
    justify-content: space-evenly;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    transition: all 0.2s ease;
}

.card:hover{
    cursor: default;
    transform: translateY(-3px);
    box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
}

.card-strip{
    background-color: rgb(243, 177, 54);
    grid-row: 1 / -1;
    width: 6px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.card-title{
    font-weight: bold;
}

.card-content{
   display: grid;
   grid-template-rows: repeat(auto-fit, min-content);
}

.card-content span{
    font-size: 24px;
    font-weight: bold;
}

.card-icon{
    display: grid;
    grid-template-columns: repeat(3, min-content);
    grid-template-rows: min-content;
    justify-content: end;
    gap: 15px;
    align-items: end;
}

.card-icon,
.card-content {
    padding: 20px;
}

.icon-img{
    width: 25px;
    height: 25px;
}

.card-title,
.card-icon,
.card-content {
    grid-column: 2 / -1;
}

/* news */
.news{
    grid-column: 3 / 4;
    grid-row: 2 / 3; 

    /* setup display */
    display: grid;
    grid-template-columns: minmax(250px, 1fr);
    grid-template-rows: min-content 1fr min-content 1fr;
    gap: 15px;
    padding: 25px 50px;
}

.news-title{
    font-size: 24px;
    font-weight: bold;
}

.news-card{
    display: grid;
    grid-template-columns: minmax(min-content, 1fr);
    grid-template-rows: repeat(auto-fit, minmax(min-content, auto));
    gap: 30px;

    background-color: white;
    padding: 30px 50px;
    
    /* style */
    min-width: 350px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    transition: all 0.2s ease;
}

.news-card span{
    font-weight: bold;
    font-size: 20px;
}

.trending-card{
    display: grid;
    grid-template-columns: repeat(minmax(auto-fit, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(min-content, auto));
    background: white;

    /* style */
    min-width: 350px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    transition: all 0.2s ease;

    padding: 5px 50px;
}

.trending-user{
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.trend-profile{
    height: 50px;
    border-radius: 50%;
}

.trending-userInfo{
    display: grid;
    grid-template-rows: auto min-content;
    gap: 4px;
}

.trending-nickname{
    font-weight: bold;
}